
.signup{
    background-image: linear-gradient(to right, #994ECC, #3E187A);
   display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1em 2.5em;
    border-radius: 14px;
}



